<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Backpackers 2020</title>
<body>
    
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
            <ul> 
              <li> 
                <a class="nav-link" href="Team.html">Meet the Team</a>
              </li>
              <li> 
                <a class="nav-link" href="Comparison.html">Comparison</a>
              </li>
              <li> 
                <a class="nav-link" href="Dashboard.html">Dashboard</a>
              </li> 
              <li>
                <a class="nav-link" href="/">Home</a>
              </li>
              </ul> 
          </nav>
          <br>

          <div class="footer">
              <h3>Copyright &copy; -> Meet the Team, 2020</h3>
      </div>     
      
  
                
</body>
                
</html>
                  