<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Backpackers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel= "stylesheet" type= "text/css" href= "static/style.css"></head>


<body>
    
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
            <ul> 
              <li> 
                <a class="nav-link" href="Team.html">Meet the Team</a>
              </li>
              <li> 
                <a class="nav-link" href="Comparison.html">Comparison</a>
              </li>
              <li> 
                <a class="nav-link" href="Dashboard.html">Dashboard</a>
              </li> 
              <li>
                <a class="nav-link" href="/">Home</a>
              </li>
              </ul> 
          </nav>
          <br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="./static/js/app.js"></script>

                
</body>
                
</html>
                  