<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Backpackers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>


<body>
    
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
            <ul> 
              <li> 
                <a class="nav-link" href="Team.html">Meet the Team</a>
              </li>
              <li> 
                <a class="nav-link" href="Comparison.html">Comparison</a>
              </li>
              <li> 
                <a class="nav-link" href="Dashbord.html">Dashbord</a>
              </li> 
              <li>
                <a class="nav-link" href="index.html">Home</a>
              </li>
              </ul> 
          </nav>
          <br>
        

        
        <div class="container">
                <div class="row">
                  <div class="col-md-12 " id = "LeafletMap">
                    <h4>Leaflet map col-md-12</h4>
                    </div>
                </div>
                
                <div class="row">
                  <div class="col-md-6">
                    <div class="well">
                      <h5>Cities list:(col-md-6)</h5>
                      <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    </div>
                     <div class="col-md-6">
                     <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h4 class="panel-title">Facts </h4>
                      </div>
                     <div id="sample-metadata" class="panel-body"></div>
                      
                    </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div id="bar"></div>
                    <h5> Hotel prices chart (col-md-6)</h5>
                  </div>
                  <div class="col-md-5">
                    <div id="gauge"></div>
                    <h5> gauge temperature (col-md-5</h5>
                  </div>
                </div>
                <div class="col-md-6">
                        <div id="gauge"></div>
                        <h5> gauge precip (cal-md-6)</h5>
                      </div>
                    </div>
                <div class="row">
                  <div class="col-md-12">
                    <div id="graph"></div>
                    <h3> a chart or a graph(col-md-12)</h3>
                  </div>
                </div>
              </div>
            

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="./static/js/app.js"></script>
<!--<script src="./static/js/bonus.js"></script>-->
      
</body>
      
</html>
        