<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Backpackers Index 2020</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/ 4.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="style.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <link rel= "stylesheet" type= "text/css" href= "static/style.css">
  <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"> -->

</head>


<body>

  <header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div style="margin-top: 150px;" class="w-100 text-white">
          <h1 class="display-3">Backpackers Index 2020</h1>
          <h1 class="lead mb-0"> 137 Global Destinations </h1>
        </div>
      </div>
    </div>
  </header>


  <!--navigation-->
  <hr></hr>
  <nav class="navbar navbar-expand-sm bg-light justify-content-center">
      <ul> 
        <li> 
          <a class="nav-link" href="Team.html">Meet the Team</a>
        </li>
        <li> 
          <a class="nav-link" href="Comparison.html">Comparison</a>
        </li>
        <li> 
          <a class="nav-link" href="Dashboard.html">Dashboard</a>
        </li> 
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        </ul> 
    </nav>
    <br>
  <hr></hr>
  
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2> Backpacker Index for 2020 -  Cheapest vs Most Expensive Cities</h2>
          <p>Visualisation: Leflet, Gauge, Fitbit </p>
          <p class="mb-0">
    </div>
  </section>
    
  <div class="footer">
        <h3>© 2020 Copyright -> Meet the Team</h3>
  </div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <!--<script src="./static/js/bonus.js"></script>-->
  
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="static/assets/js/app.js"></script> -->
</body>

</html>