<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Backpackers 2020</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/ 4.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="style.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>


<body>
<!--navigation-->
<hr></hr>
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul> 
      <li> 
        <a class="nav-link" href="Team.html">Meet the Team</a>
      </li>
      <li> 
        <a class="nav-link" href="Comparison.html">Comparison</a>
      </li>
      <li> 
        <a class="nav-link" href="Dashbord.html">Dashbord</a>
      </li> 
      <li>
        <a class="nav-link" href="index.html">Home</a>
      </li>
      </ul> 
  </nav>
  <br>

      
      <!-- Page Content -->
<div class="container">
      
        <hr class="mt-2 mb-5">
      
        <div class="row text-center text-lg-left">
      
          
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300"  class="float" alt="" width="305" height="180">
                
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300"  class="float" alt="" width="305" height="180">
                
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300"  class="float" alt="" width="305" height="180">
                
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300"  class="float" alt="" width="305" height="180">
                    
 </div>
<!-- /.container -->


<sectio>
        <h2> Backpackers Index for 2020 -  Cheapest vs Most Expensive Cities</h2>
        <h3>Data Source: http//:</h3>
        <h3>Visualisation: Leflet, Gauge, Fitbit </h3>
</section>

<!-- Page Content -->
<div class="container">
      
        <hr class="mt-2 mb-5">
      
        <div class="row text-center text-lg-left">
      
          
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300"  class="float" alt="" width="305" height="180">
                
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300"  class="float" alt="" width="305" height="180">
                
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300"  class="float" alt="" width="305" height="180">
                
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"  class="float" alt="" width="305" height="180">
                    
 </div>
<!-- /.container -->








<div class="footer">
        
        <h3>Data Analytics Bootcamp 2020</h3>
      </div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <!--<script src="./static/js/bonus.js"></script>-->

</body>

</html>